name: Write Env on Testflight Build
on: workflow_dispatch

#ToDo: 
#Generate JWT token
#List builds
#Find build with matching version number
#Get en-AU localization of build
#Patch localization
# version number to test: 1660739776
#        echo ${ALLBUILDS}

env:
  BEARER_TOKEN: eyJhbGciOiJFUzI1NiIsImtpZCI6IlMyN0MyOEoyNTciLCJ0eXAiOiJKV1QifQ==.eyJpc3MiOiI2OWE2ZGU5MS0yYThkLTQ3ZTMtZTA1My01YjhjN2MxMWE0ZDEiLCJpYXQiOjE2NjA4OTI2NTEsImV4cCI6MTY2MDg5MzI1MSwiYXVkIjoiYXBwc3RvcmVjb25uZWN0LXYxIn0=.bm90X2ltcGxlbWVudGVk
  VERSION_NUMBER: 1660739776

jobs:
  list_builds:
    runs-on: ubuntu-latest
    outputs: 
      buildID: ${{steps.builds.output}}
    steps:
    - name: builds
      run: |
        curl --location --request GET 'https://api.appstoreconnect.apple.com/v1/builds' \
        --header "Authorization: Bearer $token" |
        jq '.' | \
        jq -r '.data[] | select(.attributes.version=="1660625959") | .id'
      env:
        token: ${{ env.BEARER_TOKEN}}
